body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
  }
  #login .container1 #login-row #login-column #login-box {
    margin: auto;
    max-width: 600px;
    height: 1300px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  #login-box{
      padding: 15px;
  }

  .form-group.required .text-info:after {
    content:"*";
    color:red;
  }

  #login .container2 #login-row #login-column #login-box {
    margin: auto;
    max-width: 600px;
    height: 1500px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }